@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
  --tag-tile-coef: 33.33%;
  --tag-bg-size: 400% 400%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-size: 16pt;
  overflow: hidden scroll;
  font-family: Verdana, arial, sans-serif;
  color: #fffe;
}

a {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

#app {
  height: 100%;
}

section {
  display: block;
  margin: 0 auto;
}
